{% extends 'base.html' %}
{% block content %}

<div class="container-fluid custom-container">

	<div class="col d-flex flex-column align-items-center flex-shrink-0 index justify-content-center" id="indexGroup">
		<blockquote class="mt-5">Empowering Apartment Decisions</blockquote>
		<h1>PER1METER</h1>
		<div class="d-flex align-items-center flex-shrink-0 p-3 text-decoration-none" style="font-size: 1.5rem;">
			<div class="col d-flex justify-content-center">
				<a href="https://www.linkedin.com/" target="_blank"><i class="mx-2 ic fa fa-solid fa-brands fa-linkedin"></i></a>
				<a href="https://twitter.com/" target="_blank"><i class="mx-2 ic fa fa-solid fa-brands fa-twitter"></i></a>
				<a href="https://t.me/per1meter" target="_blank"><i class="mx-2 ic fa fa-solid fa-brands fa-telegram"></i></a>
			</div>
		</div>
		<small>Search properties on the Mediterranean Sea for investment.</small>
		<small>Utilize our engine to calculate the exact income in a specific location.</small>
		<a href="/northern-cyprus" class="btn btn-success" style="margin-top: 1rem;">Start Exploring</a>
	</div>
</div>
{% endblock content %}